.connect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.connect>input {
    margin-bottom: 10px;
    width: 300px;
    height: 35px;
    padding-left: 5px;
    box-sizing: border-box;
    outline: 0;
}

.connect>button {
    width: 200px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16.5px;
    background-color: #e9967a;
    border: 1px solid #e9967a;
    border-radius: 2px / 2px;
}

body {
    background-color: rgb(1, 2, 21);
}

.log {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30%;
    border-top: 1px solid white;
    width: 100%;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    box-sizing: border-box;
    display: none;
}

.voice {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 30%);
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    flex-wrap: wrap;
}

.up-vb {
    padding: 20px;
    border: 1px solid lightblue;
    margin-right: 35px;
}